/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face { 
	src:url("../assets/DS-DIGII.TTF"); 
	fontFamily: "_DS-DIGII";
	advancedAntiAliasing: true; 
	embedAsCFF: true; 
	unicode-range: 
		U+0020-007E, U+00A1-00FF, U+2013-201e, U+2022-203c, U+20AC-20AC, U+2122-2122, U+25AA-25AA, U+00AD-00AD,  
		U+2011-2011, U+00A0-00A0, U+0153-0153;
}

s|Application {	
	color:#FFFFFF;
	background-color:#000000;
}

#digitalClockView {
	font-size: 170;
	font-family: "_DS-DIGII";
	text-decoration:line-through;
	color:#FFFFFF;
}

.digitNumberBorder {
	/*skin-class: ClassReference("DigitBackground");*/
	border-color:#333333;
	border-style:inset;
	border-weight:3;
	border-visible:true;
	text-align:center;
	tracking-left:20;
}

#viewSwitch, #switchViewLabel, .hourLabel {
	font-family: "_DS-DIGII";
}

#switchViewLabel {
	font-size:50;
}